:root{
    --color-primary: #44494B;
    --color-primary-dark: #1D1F20;

    --color-secondary: #FAA40F;
    --color-secondary-dark: #B47304;

    --color-terciary: #F4F5F5;
    --color-terciary-dark: #DFE1E2;



}